[submodule "ghostty"]
	path = ghostty
	url = https://github.com/arimendelow/ghostty.git
	branch = user/arimendelow/workbench-v1-embedded-env-lifetime
[submodule "homebrew-cmux"]
	path = homebrew-cmux
	url = https://github.com/manaflow-ai/homebrew-cmux.git
[submodule "vendor/bonsplit"]
	path = vendor/bonsplit
	url = https://github.com/manaflow-ai/bonsplit.git
